/* Style for the form container */
form {
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #f9f9f9; /* Light Gray background */
    border-radius: 5px;
  }
  
  /* Style for form headings */
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style for form inputs and select */
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    min-height: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* Style for submit button */
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2C5F2D; /* Deep Green background */
    color: white;
    cursor: pointer;
  }
  
  /* Style for submit button on hover */
  button[type="submit"]:hover {
    background-color: #1F3D1F; /* Darker shade on hover */
  }
  
  /* Style for back link */
  p a {
    color: #2C5F2D; /* Deep Green color */
    text-decoration: none;
  }
  
  /* Style for back link on hover */
  p a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    form {
      padding: 10px;
    }
  }
  